/**
*--------------------------------------------------------------------------
* Модуль: VGFormSender
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@import '../../../utils/scss/functions';
@import '../../../utils/scss/mixin';
@import '../../../utils/scss/variables';
@import 'variables';

.vg-form-sender {
	@include mix-vars('form-sender', $form-sender-map);

	&-modal {
		.vg-modal-content {
			padding: 0;
		}
	}

	&--content {
		position: relative;
	}

	&--hide-show-pass {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 22px;
		height: 22px;
		cursor: pointer;
		transition: $transition-base;

		svg {
			path {
				fill: var(--vg-form-sender-eye-color);
			}
		}
	}

	&.was-validated {
		.vg-form-sender--hide-show-pass {
			right: 34px;
		}
	}
}

.vg-form-sender-alert {
	@include mix-alert-color-mode($class: vg-form-sender-alert);
	background-color: var(--vg-form-sender-alert-background-color);
	border: 1px solid var(--vg-form-sender-alert-border-color) ;
	border-radius: var(--vg-border-radius);

	.vg-btn-close {
		svg {
			path {
				fill: var(--vg-form-sender-alert-close)
			}
		}
	}

	.vg-form-sender-alert-modal {
		min-height: 260px;
		display: flex;
		align-items: center;
		justify-content: center;

		.vg-form-sender-alert-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.5rem;
			padding: 1rem;
		}

		.vg-form-sender-alert-content--text {
			text-align: center;
		}
	}

	&.vg-form-sender-alert-collapse {
		margin-bottom: 2rem;
		padding: 2rem;

		.vg-form-sender-alert-content {
			display: flex;
			gap: 2rem;
		}
	}
}

.vg-form-sender-alert-content--icon {
	svg {
		path {
			fill: var(--vg-form-sender-alert-icon);
		}
	}
}

.vg-form-sender-alert-content--text {
	font-size: 1.25rem;
	color: var(--vg-form-sender-alert-color);
}