.vg-lawcookie {
	position: fixed;
	padding: 1rem;
	z-index: 2000;
	display: none;
	max-width: 50%;

	&.show {
		display: block;
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	&.top {
		top: 0;
	}

	&.bottom {
		bottom: 0;
	}

	&--content {
		background-color: white;
		border-radius: 10px;
		padding: 1rem;
		color: black;
	}
}