$datatable-map: (
		loader-bg: rgba(white, .15),
		loader-border-radius: .5rem,
		border-color: initial,
		border-width: $border-width,
		border-style: $border-style,
		border-radius: $border-radius,
		margin-bottom: 1rem,
		vertical-align: top,
		width: 100%,
		color-state: initial,
		color-type: initial,
		color: $color,
		bg-state: initial,
		bg-type: initial,
		bg-accent: transparent,
		bg: $bg-color,
		padding: 1em 1.5rem,
);