$tabs-map: (
		panel-gap: 10px,
		panel-margin-bottom: 1.5rem,
		link-border-radius: $border-radius,
		link-border-style: $border-style,
		link-border-width: $border-width,
		link-border-color: $border-color,
		link-border-active-color: $border-color-active,
		link-border-disabled-color: $border-color-disabled,
		link-color: $color,
		link-active-color: $color-active,
		link-focus-color: $color-active,
		link-disabled-color: $color-disabled,
		link-bg: transparent,
		link-active-bg: transparent,
		link-focus-bg: transparent,
		link-disabled-bg: transparent,
		link-padding-x: 16px,
		link-padding-y: 8px,
		link-transition: $transition-base,
		slider-bg: $color-active,
		slider-link-color: white,
		slider-border-radius: $border-radius,
		slider-transition: $transition-base,
		track-slider-padding-x: 6px,
		track-slider-padding-y: 6px,
		track-slider-border-radius: 6px,
		track-slider-bg: rgba(white, .1),
);