@use "../../../utils/scss" as vg;

$tabs-map: (
		panel-gap: 10px,
		panel-margin-bottom: 1.5rem,
		link-border-radius: vg.$border-radius,
		link-border-style: vg.$border-style,
		link-border-width: vg.$border-width,
		link-border-color: var(--vg-border-color, #{vg.$border-color}),
		link-border-active-color: var(--vg-primary-color, #{vg.$color-active}),
		link-border-focus-color: var(--vg-primary-color, #{vg.$color-active}),
		link-border-disabled-color: var(--vg-border-disabled-color, #{vg.$border-color-disabled}),
		link-color: var(--vg-text-color, #{vg.$color}),
		link-active-color: var(--vg-primary-color, #{vg.$color-active}),
		link-focus-color: var(--vg-primary-color, #{vg.$color-active}),
		link-disabled-color: var(--vg-text-disabled-color, #{vg.$color-disabled}),
		link-bg: transparent,
		link-active-bg: transparent,
		link-focus-bg: transparent,
		link-disabled-bg: transparent,
		link-padding-x: 16px,
		link-padding-y: 8px,
		link-transition: vg.$transition-base,
		slider-bg: var(--vg-primary-color, #{vg.$color-active}),
		slider-link-color: var(--vg-primary-contrast-color, #{vg.$color-inverse}),
		slider-border-radius: vg.$border-radius,
		slider-transition: vg.$transition-base,
		track-slider-padding-x: 6px,
		track-slider-padding-y: 6px,
		track-slider-border-radius: 6px,
		track-slider-bg: var(--vg-border-disabled-color, rgba(255, 255, 255, .1)),
) !default;
