$dropdown-map: (
		bg-color:                  $bg-color,
		color:                     $color,
		box-shadow:                $box-shadow,
		border:                    1px solid #{$border-color},
		z-index:                   $dropdown-index,
		transition:                $transition-base,
		min-width:                 300px
);