@use "../../../utils/scss" as vg;

$dropdown-map: (
		bg-color:                  var(--vg-surface-bg, #{vg.$surface-bg}),
		color:                     var(--vg-text-color, #{vg.$color}),
		box-shadow:                var(--vg-box-shadow, #{vg.$box-shadow}),
		border-width:              vg.$border-width,
		border-style:              vg.$border-style,
		border-color:              var(--vg-border-color, #{vg.$border-color}),
		border-radius:             vg.$border-radius,
		z-index:                   vg.$dropdown-index,
		transition:                vg.$transition-base,
		min-width:                 225px
) !default;
