$dropdown-map: (
		bg-color:                  $bg-color,
		color:                     $color,
		box-shadow:                $box-shadow,
		border-width:              1px,
		border-style:              solid,
		border-color:              $border-color,
		border-radius:             $border-radius,
		z-index:                   $dropdown-index,
		transition:                $transition-base,
		min-width:                 225px
);