/**
*--------------------------------------------------------------------------
* Модуль: VGDropdown
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "variables";

.vg-dropdown {
	position: relative;
	@include mix-vars('dropdown', $dropdown-map);

	&-content {
		z-index: var(--vg-dropdown-z-index);
		position: absolute;
		opacity: 0;
		transform: translateY(20%);
		transition: var(--vg-dropdown-transition);
		min-width: var(--vg-dropdown-min-width);

		&:not(.show) {
			display: none;
		}

		&.fade {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&-container {
		background-color: var(--vg-dropdown-bg-color);
		color: var(--vg-dropdown-color);
		border-width: var(--vg-dropdown-border-width);
		border-style: var(--vg-dropdown-border-style);
		border-color: var(--vg-dropdown-border-color);
		border-radius: var(--vg-dropdown-border-radius);
		box-shadow: var(--vg-dropdown-box-shadow);
	}
}