/**
*--------------------------------------------------------------------------
* Модуль: VGDropdown
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "variables";

.vg-dropdown {
	position: relative;
	@include mix-vars('dropdown', $dropdown-map);

	&-content {
		z-index: var(--vg-dropdown-z-index);
		transform: translateY(20%);
		transition: var(--vg-dropdown-transition);
		min-width: var(--vg-dropdown-min-width);
		position: absolute;
		opacity: 0;
		left: 0;
		top: 100%;

		&:not(.show) {
			display: none;
		}

		&.animate__animated {
			opacity: 1;
		}

		&.fade {
			opacity: 1;
			transform: translateY(0);
		}

		&.top {
			bottom: 0;
		}

		&.bottom {
			top: 0;
		}

		&.left {
			left: 0;
		}

		&.right {
			left: auto;
			right: 0;
		}

		&.show {
			&.top {
				bottom: 100%;
			}

			&.bottom {
				top: 100%;
			}
		}
	}

	&-container {
		background-color: var(--vg-dropdown-bg-color);
		color: var(--vg-dropdown-color);
		border-width: var(--vg-dropdown-border-width);
		border-style: var(--vg-dropdown-border-style);
		border-color: var(--vg-dropdown-border-color);
		border-radius: var(--vg-dropdown-border-radius);
		box-shadow: var(--vg-dropdown-box-shadow);
	}
}