$rollup-map: (
		transition: $transition-base,
		fade-height: 100px,
		fade-background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
);
$rollup-button-map: (
		align: center
);