/**
*--------------------------------------------------------------------------
* Модуль: VGRollup
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@forward "variables";
@use "../../../utils/scss" as vg;
@use "variables" as vars;

.vg-rollup {
	@include vg.mix-vars('rollup', vars.$rollup-map);
	transform: var(--vg-rollup-transition);

	&-button {
		@include vg.mix-vars('rollup-button', vars.$rollup-button-map);
		text-align: var(--vg-rollup-button-align);
	}

	&-content {
		&--hidden {
			overflow: hidden;
		}

		&--fade {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: var(--vg-rollup-fade-height);
				background: var(--vg-rollup-fade-background);
			}
		}

		&--ellipsis {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
	}

	&-display {
		&--none {
			display: none !important;
		}
	}
}
