$alert-map: (
		padding: 2rem,
		margin: 0 0 2rem,
		border-width: $border-width,
		border-style: $border-style,
		border-color: transparent,
		border-radius: $border-radius,
		gap: 1.5rem,
		icon-width: 80px,
		icon-height: 80px,
		content-width: 100%,
		content-align: center,
		content-justify: flex-start
);
$alert-success-map: (
		color: darken(#A5DC86, 10%),
		border-color: #A5DC86,
		background-color: rgba(lighten(#A5DC86, 10%), .15),
		stroke: rgba(117, 183, 152, 0.4)
);

$alert-error-map: (
		color: darken(#F74444, 10%),
		border-color: #F74444,
		background-color: rgba(lighten(#F74444, 25%), .075)
);

$alert-waiting-map: (
		color: darken(#ffda6a, 10%),
		border-color: #ffda6a,
		background-color: rgba(lighten(#ffda6a, 15%), .1)
);

$alert-modal-wrapper: (
		padding: 1.5rem,
		buttons-gap: .5rem,
		buttons-justify-content: flex-end,
		buttons-padding: 1rem 1.5rem,
		buttons-bg: #f5f5f5,
		buttons-border-radius: 0 0 $border-radius $border-radius,
		title-fs: 1.25rem,
		title-fw: bold,
		title-color: $color,
		title-mb: 0.5rem,
		description-color: $color-emphasis,
		description-fs: 16px,
)