/**
*--------------------------------------------------------------------------
* Модуль: VGAlert
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "variables";

.vg-alert {
	&-modal {
		--vg-modal-padding: 0 !important;
		--vg-modal-width: 520px !important;
		--vg-modal-margin: 65px !important;
	}

	&-wrapper {
		@include mix-vars('alert', $alert-map);
		@include mix-alert-color-mode($class: vg-alert);
		border-radius: var(--vg-border-radius);
		overflow: hidden;

		.vg-alert-content {
			--vg-alert-color: $color;
			padding: 1.5rem;
			display: flex;
			align-items: center;
			gap: 1.5rem;
			color: var(--vg-alert-color);

			.vg-alert-content--title {
				font-weight: bold;
				font-size: 1.5rem;
			}

			.vg-alert-content--description {
				font-weight: 300;
			}

			.vg-alert-content--icon {
				svg {
					width: 48px;
					height: 48px;

					path {
						fill: var(--vg-alert-icon);
					}
				}
			}
		}

		.vg-alert-buttons {
			background-color: #F5F5F5;
			padding: 1rem 1.5rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: .5rem;
		}
	}
}

