/**
*--------------------------------------------------------------------------
* Модуль: VGAlert
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "variables";

.vg-alert {
	@include mix-vars('alert', $alert-map);
	@include mix-vars('alert-success', $alert-success-map);
	@include mix-vars('alert-error', $alert-error-map);
	@include mix-vars('alert-waiting', $alert-waiting-map);
	padding: var(--vg-alert-padding);
	margin: var(--vg-alert-margin);
	border: var(--vg-alert-border-width) var(--vg-alert-border-style) var(--vg-alert-border-color);
	border-radius: var(--vg-alert-border-radius);
	display: flex;
	align-items: center;
	justify-content: center;

	&-success {
		color: var(--vg-alert-success-color);
		border-color: var(--vg-alert-success-border-color);
		background-color: var(--vg-alert-success-background-color);
	}

	&-error {
		color: var(--vg-alert-error-color);
		border-color: var(--vg-alert-error-border-color);
		background-color: var(--vg-alert-error-background-color);
	}

	&-content {
		display: flex;
		align-items: var(--vg-alert-content-align);
		justify-content: var(--vg-alert-content-justify);
		gap: var(--vg-alert-gap);
		width: var(--vg-alert-content-width);

		&--icon {
			width: var(--vg-alert-icon-width);
			height: var(--vg-alert-icon-height);

			svg {
				width: 100%;
				height: 100%;
			}

			.ui-success {
				&-circle {
					stroke: var(--vg-alert-success-stroke);
				}

				&-path {
					stroke: var(--vg-alert-success-color);
				}
			}
		}
	}
}

.vg-alert-modal {
	@include mix-vars('alert-modal', $alert-modal-wrapper);

	.vg-modal-content {
		--vg-modal-padding: 0;
	}

	.vg-alert-wrapper {
		.vg-alert-content {
			display: flex;
			padding: var(--vg-alert-modal-padding);
		}

		.vg-alert-buttons {
			display: flex;
			justify-content: var(--vg-alert-modal-buttons-justify-content);
			gap: var(--vg-alert-modal-buttons-gap);
			padding: var(--vg-alert-modal-buttons-padding);
			background-color: var(--vg-alert-modal-buttons-bg);
			border-radius: var(--vg-alert-modal-buttons-border-radius);
		}

		.vg-alert-content--message {
			.vg-alert-content--title {
				font-size: var(--vg-alert-modal-title-fs);
				font-weight: var(--vg-alert-modal-title-fw);
				margin-bottom: var(--vg-alert-modal-title-mb);
				color: var(--vg-alert-modal-title-color);
			}

			.vg-alert-content--description {
				color: var(--vg-alert-modal-description-color);
				font-size: var(--vg-alert-modal-description-fs);
			}
		}
	}
}

