@use "../../../utils/scss" as vg;

$sidebar-map: (
		horizontal: (
				width: 400px,
				height: 100vh,
		),
		vertical: (
				width: 100vw,
				height: 30vh,
		),
		bg-color:                  var(--vg-surface-bg, #{vg.$surface-bg}),
		color:                     var(--vg-text-color, #{vg.$color}),
		box-shadow:                var(--vg-box-shadow, #{vg.$box-shadow}),
		header-height:             60px,
		footer-height:             70px,
		padding:                   1rem,
		border:                    vg.$border-width vg.$border-style var(--vg-border-color, #{vg.$border-color}),
		z-index:                   vg.$sidebar-index,
		transition:                vg.$transition-base,
) !default;
