$modal-map: (
		z-index: $modal-index,
		transition: $transition-base,
		margin: auto,
		bg-color: $bg-color,
		color: $color,
		border-radius: $border-radius,
		box-shadow: $box-shadow,
		border-width: $border-width,
		border-color: transparent
);

$modal-sm: 400px !default;
$modal-md: 600px !default;
$modal-lg: 800px !default;
$modal-xl: 1140px !default;