/**
*--------------------------------------------------------------------------
* Модуль: VGSidebar
* Автор: Vegas DEV
* Лицензия: смотри LICENSE.md
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "../../../utils/scss/animate";
@import "variables";

.vg-modal {
	@include mix-vars('modal', $modal-map);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: var(--vg-modal-z-index);
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;

	&.show {
		display: block;
	}
}

.vg-modal-dialog {
	position: relative;
	margin: var(--vg-modal-margin);
	pointer-events: none;
}

.vg-modal-dialog-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 100%;
	height: 100%;
}

.vg-modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: #{$modal-md};
	color: var(--vg-modal-color);
	pointer-events: auto;
	background-color: var(--vg-modal-bg-color);
	background-clip: padding-box;
	border: var(--vg-modal-border-width) solid var(--vg-modal-border-color);
	border-radius: var(--vg-modal-border-radius);
	box-shadow: var(--vg-modal-box-shadow);
	outline: 0;
}