/**
*--------------------------------------------------------------------------
* Модуль: VGSidebar
* Автор: Vegas DEV
* Лицензия: смотри LICENSE.md
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "../../../utils/scss/animate";
@import "variables";

.vg-modal {
	@include mix-vars('modal', $modal-map);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: var(--vg-modal-z-index);
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;

	&-dialog {
		position: relative;
		width: auto;
		margin: var(--vg-modal-margin);
		pointer-events: none;

		.vg-modal.fade & {
			transform: var(--vg-modal-fade-transform);
			transition: var(--vg-modal-transition);
		}

		.vg-modal.show & {
			transform: var(--vg-modal-show-transform);
		}

		.vg-modal.vg-modal-static & {
			transform: var(--vg-modal-scale-transform);
		}

		&-scrollable {
			height: calc(100% - var(--vg-modal-margin) * 2);

			.vg-modal-content {
				max-height: 100%;
				overflow: hidden;
			}

			.vg-modal-body {
				overflow-y: auto;
			}
		}

		&-centered {
			display: flex;
			align-items: center;
			min-height: calc(100% - var(--vg-modal-margin) * 2);
		}
	}

	&-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		color: var(--vg-modal-color);
		pointer-events: auto;
		background-color: var(--vg-modal-background-color);
		background-clip: padding-box;
		border: var(--vg-modal-border-width) var(--vg-modal-border-style) var(--vg-modal-border-color);
		border-radius: var(--vg-modal-border-radius);
		box-shadow: var(--vg-modal-box-shadow);
		outline: 0;
		padding: var(--vg-modal-padding);
	}

	&-fullscreen {
		width: 100vw;
		max-width: none !important;
		height: 100%;
		margin: 0;

		.vg-modal-content {
			height: 100%;
			border: 0;
			border-radius: 0;
		}
	}
}

@media screen and (min-width: 576px){
	.vg-modal {
		--vg-modal-margin: #{$modal-dialog-margin-y-sm-up};
		--vg-modal-box-shadow: #{$modal-content-box-shadow-sm-up};
	}

	.vg-modal-dialog {
		max-width: var(--vg-modal-width);
		margin-right: auto;
		margin-left: auto;
	}

	.vg-modal-sm {
		--vg-modal-width: #{$modal-sm};
	}
}

@media screen and (min-width: 992px){
	.vg-modal-lg, .vg-modal-xl {
		--vg-modal-width: #{$modal-lg};
	}
}

@media screen and (min-width: 1399px) {
	.vg-modal-xl {
		--vg-modal-width: #{$modal-xl};
	}
}