$modal-map: (
        width: 				500px,
        height: 			100vh,
        bg-color: 			$bg-color,
        color: 				$color,
        box-shadow: 		$box-shadow,
        header-height: 		60px,
        footer-height: 		70px,
        padding: 			1rem,
        border: 			1px solid #{$border-color},
        z-index: 			$sidebar-index,
        transition: 		$transition-base,
        border-radius: 		5px,
);