/**
*--------------------------------------------------------------------------
* Модуль: VGSidebar
* Автор: Vegas DEV
* Лицензия: смотри LICENSE.md
*--------------------------------------------------------------------------
**/

@import "../../../_utils/scss/functions";
@import "../../../_utils/scss/mixin";
@import "../../../_utils/scss/variables";
@import "variables";

.vg-modal {
	@include mix-vars('modal', $modal-map);

	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--vg-modal-z-index);
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;

	&.show {
		display: block;
		pointer-events: auto;
	}


	&-dialog {
		margin-top: 250px;
		max-width: var(--vg-modal-width);
		margin-right: auto;
		margin-left: auto;
	}

	&-content {
		border-radius: var(--vg-modal-border-radius);
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: var(--vg-modal-bg-color);

		.vg-btn-close {
			right: -45px;
			top: -45px;
			opacity: .9;
			background: transparent;
			border: none;
			font-size: 18px;
			cursor: pointer;
			transition: transform .8s ease-in-out;
			width: 35px;
			height: 30px;
			display: block;


			svg {
				width: 25px;

				polygon, path {
					fill: white !important;
				}
			}

			&:hover {
				transform: rotate(360deg);
			}
		}
	}
}