$files-map: (
		label-bg: #242424,
		label-color: #ffffff,
		label-border-color: #343434,
		label-border-radius: 4px,
		label-padding: 8px 24px,
		label-padding-icon: 8px 16px,
		info-mt: 10px,
		info-mb: 10px,
		info-title-fw: 600,
		info-title-color: darkgreen,
		info-count-fw: 400,
		info-count-fs: 14px,
		info-count-color: #999999,
		info-count-ms: 7px,
		info-dismiss-fs: 14px,
		info-dismiss-ms: 10px,
		info-image-width: 100px,
		info-image-me: 15px,
		info-image-mb: 15px,
		info-image-padding: 5px,
		info-image-border: 1px solid #e0e0e0,
		info-list-fs: 15px,
		info-list-mt: 7px,
		info-list-span-fs: 12px,
		info-list-span-color: #999999,
		info-list-span-me: 6px,
		info-list-button-fs: 12px,
		info-list-button-color: #999999,
);