/**
*--------------------------------------------------------------------------
* Модуль: VGFiles
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "variables";

.vg-files {
	@include mix-vars('files', $files-map);
	position: relative;

	input {
		visibility: initial;
		width: 0;
		position: absolute;
		left: 0;
		top: 0;
	}

	&-label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		background: var(--vg-files-label-bg);
		border: 1px solid var(--vg-files-label-border-color);
		border-radius: var(--vg-files-label-border-radius);
		color: var(--vg-files-label-color);

		&--icon {
			padding: var(--vg-files-label-padding-icon);
			border-right: 1px solid var(--vg-files-label-border-color);

			svg {
				width: 24px;

				path {
					fill: var(--vg-files-label-color)
				}
			}
		}

		&--title {
			padding: var(--vg-files-label-padding);
		}
	}

	&-errors {
		padding: 10px 0;

		span {
			font-size: 16px;
			color: var(--vg-danger);
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&-drop {
		background-color: var(--vg-secondary-bg);
		border: 2px dashed var(--vg-secondary);
		cursor: pointer;
		height: 200px;
		text-align: center;
		max-width: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
		transition: all 0.2s ease;
		border-radius: 8px;

		&.active {
			border: none;
			height: auto;
			min-height: 200px;

			&:hover {
				animation: none;
				background-image: none;
			}
		}

		&:after {
			content: "Отпустите, чтобы загрузить";
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
			font-size: 14px;
			color: #007bff;
			opacity: 0;
			transition: opacity 0.2s;
			pointer-events: none;
		}

		&:hover {
			animation: stripes 2s linear infinite;
			background-image: linear-gradient(-45deg, rgba(var(--vg-secondary-rgb), .03) 25%, transparent 0, transparent 50%, rgba(var(--vg-secondary-rgb), .03) 0, rgba(var(--vg-secondary-rgb), .03) 75%, transparent 0, transparent);
			background-size: 30px 30px;
		}

		&.drop-hover, &.drop-active {
			border-color: #007bff;
			background-color: #e3f2fd;
			box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
		}

		&.drop-active:after {
			opacity: 1;
		}

		* {
			display: block;
		}

		&-message {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 8px;
			font-size: 14px;
			line-height: 22px;
			color: #999999;

			&:not(.show) {
				display: none;
			}

			.icon {
				width: 48px;
				height: 48px;

				svg {
					width: 100%;
					height: 100%;

					path {
						fill: #999999
					}
				}
			}
			.title {

			}
		}

		&--list {
			display: flex;
			align-items: center;
			gap: 8px;
			flex-wrap: wrap;
			margin: 0;
			padding: .5rem;
			width: 100%;
			height: 100%;
			border-radius: 8px;
			overflow: hidden;

			.file {
				--vg-button-color: var(--vg-body-color);
				border-radius: 6px;
				position: relative;
				overflow: hidden;
				flex: 0 0 calc(25% - 6px);
				height: 100px;
				cursor: grab;

				&:active {
					cursor: grabbing;
				}

				.file-image {
					width: 100%;
					height: 100%;
					overflow: hidden;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
						object-position: center;
					}
				}

				&.single {
					flex: 0 0 100%;
					gap: 0;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					&-image {
						.file-image {
							width: 100%;
							height: 100%;
							overflow: hidden;
						}
					}

					&-file {
						.file-image {
							width: 100%;
							height: 100%;
							overflow: hidden;

							i {
								width: 100%;
								height: 100%;
								display: flex;
								align-items: center;
								justify-content: center;

								svg {
									width: 50%;
									height: 50%;

									path {
										fill: var(--vg-secondary);
									}
								}
							}
						}
					}
				}

				&-remove {
					position: absolute;
					right: 10px;
					top: 10px;

					button {
						background: var(--vg-body-bg);
						color: var(--vg-body-color);
						border: none;
						cursor: pointer;
						outline: none;
						padding: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: all .2s ease-in-out;
						position: relative;
						width: 36px;
						height: 36px;
						border-radius: 3px;

						&:hover {
							background-color: rgba(var(--vg-body-bg-rgb), .4);
						}

						svg {
							path {
								fill: var(--vg-button-color);
							}
						}
					}
				}

				&.pending {
					> * {
						opacity: .32;
						pointer-events: none;
					}

					.file-remove {
						opacity: 0;
					}
				}

				&.loading {
					--vg-button-color: var(--vg-body-color);

					> *:not(.file-remove) {
						opacity: .52;
						pointer-events: none;
					}

					.file-remove {
						opacity: 1;
						pointer-events: none;

						button {
							i {
								animation: spinner 1s linear infinite;
							}
						}
					}
				}

				&.completed {
					--vg-button-color: var(--vg-success);
				}

				&.failing {
					--vg-button-color: var(--vg-danger);

					> * {
						opacity: .62;
					}

					.file-remove {
						opacity: 1;
					}
				}

				&.dragging {
					opacity: 0.6;
					transform: scale(1.02);
					z-index: 1000;
					position: relative;
				}

				&.dragging-transparent {
					pointer-events: none;
					opacity: 0.3;
				}
			}
		}
	}

	&-stat {
		padding: 12px 8px;
		border-bottom: 1px solid var(--vg-secondary-bg);
		display: flex;
		gap: 1rem;
		align-items: center;
		margin-bottom: 1rem;

		&:not(.show) {
			display: none;
		}

		&-title {
			color: var(--vg-success);
			font-weight: 600;
		}

		&-count {
			span {
				color: var(--vg-secondary);
				font-weight: 400;
				font-size: 14px;
				margin-left: 6px;
			}
		}

		&-dismiss {
			margin-left: auto;

			a {
				--vg-color-link: var(--vg-secondary);
				display: flex;
				align-items: center;
				gap: 4px;
				line-height: 1;
				text-decoration: none;
				color: var(--vg-color-link);
				font-size: 16px;

				&[disabled] {
					pointer-events: none;
					opacity: .5;
				}

				&:hover {
					--vg-color-link: var(--vg-body-color);
				}

				i {
					svg {
						width: 18px;
						height: 18px;

						path {
							fill: var(--vg-color-link);
						}
					}
				}
			}
		}

		&-progress {
			&-list {
				display: flex;
				gap: 4px;
				list-style: none;
				padding: 0;
				margin: 0;
				font-size: 14px;
				color: var(--vg-secondary);

				.stat-item {
					display: flex;
					align-items: center;
					gap: 2px;

					&.pending {
						.stat-label {
							svg {
								path.dot {
									animation: flash 1s linear infinite;
								}
							}
						}
					}

					&.pending[data-count="0"] {
						.stat-label {
							svg {
								path.dot {
									animation: none;
								}
							}
						}
					}

					&.completed:not([data-count="0"]) {
						.stat-label {
							svg {
								path.dot {
									fill: var(--vg-success);
									opacity: .72;
								}
							}
						}
					}

					&.failing:not([data-count="0"]) {
						.stat-label {
							svg {
								path.dot {
									fill: var(--vg-danger);
									opacity: .72;
								}
							}
						}
					}
				}

				.stat-label {
					svg {
						path {
							fill: var(--vg-secondary-bg);
						}
					}
				}
			}
		}
	}

	&-info {
		margin-top: 1rem;
		border: 1px solid var(--vg-secondary-bg);
		border-radius: 4px;

		&:not(.show) {
			display: none;
		}

		&--list {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			max-height: 360px;
			overflow-y: auto;
			overflow-x: hidden;
			--vg-files-image-width: 0px;
			--vg-files-image-height: 0px;
			--vg-files-info-width: 100%;
			--vg-files-remove-width: 0px;
			--vg-files-remove-height: 0px;
			--vg-files-gap: 8px;
			--vg-files-image-gap: 0px;
			--vg-files-remove-gap: 0px;

			&.list-row {
				--vg-files-image-width: 100px;
				--vg-files-image-height: 100px;
				flex-direction: row;
				flex-wrap: wrap;
			}

			&:not(.list-row) .file {
				&.with-image {
					--vg-files-image-width: 48px;
					--vg-files-image-height: 48px;
				}

				&.with-remove {
					--vg-files-remove-width: calc(28px - var(--vg-files-gap));
					--vg-files-remove-height: 28px;
				}

				&.with-info {
					&.with-image {
						--vg-files-image-gap: calc(var(--vg-files-image-width) + var(--vg-files-gap))
					}
					&.with-remove {
						--vg-files-remove-gap: calc(var(--vg-files-remove-width) + var(--vg-files-gap))
					}

					--vg-files-info-width: calc(100% - ((var(--vg-files-image-gap) + var(--vg-files-remove-gap))));
				}
			}

			.file {
				--vg-button-color: var(--vg-secondary);
				display: flex;
				align-items: center;
				gap: var(--vg-files-gap);
				padding: 8px;
				border-bottom: 1px solid var(--vg-secondary-bg);
				transition: all .2s ease-in-out;
				position: relative;
				cursor: grab;

				&:active {
					cursor: grabbing;
				}

				&:last-child {
					border-bottom: none;
				}

				&:hover {
					background-color: rgba(var(--vg-secondary-bg-rgb), .4);
				}

				> * {
					transition: all .2s ease-in-out;
				}

				&-image {
					flex: 0 0 var(--vg-files-image-width);
					width: var(--vg-files-image-width);
					height: var(--vg-files-image-height);
					border-radius: 4px;
					overflow: hidden;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
						object-position: center;
					}

					i {
						display: flex;
						align-items: center;
						width: 100%;
						height: 100%;

						svg {
							width: 90%;
							height: 90%;

							path {
								fill: var(--vg-secondary);
							}
						}
					}
				}

				&-info {
					flex: 0 0 var(--vg-files-info-width);
					max-width: var(--vg-files-info-width);
					display: flex;
					gap: 4px;
					align-items: center;

					.iteration {
						color: var(--vg-secondary);
						font-size: 16px;
						display: none;
					}

					.name {
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 16px;
					}

					.size {
						color: var(--vg-secondary);
						font-size: 14px;
						white-space: nowrap;
						margin-left: auto;
					}
				}

				&-remove {
					flex: 0 0 var(--vg-files-remove-width);
					width: var(--vg-files-remove-width);
					margin-left: auto;

					button {
						width: var(--vg-files-remove-width);
						height: var(--vg-files-remove-height);
						border: none;
						background: transparent;
						cursor: pointer;
						outline: none;
						padding: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: all .2s ease-in-out;
						position: relative;

						&:hover {
							--vg-button-color: var(--vg-danger);
						}

						i {
							svg {
								width: 16px;
								height: 16px;
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);

								path {
									fill: var(--vg-button-color);
								}
							}
						}
					}
				}

				&:not(.with-image) {
					.file-info {
						.iteration {
							display: block;
						}
					}
				}

				&.pending {
					> * {
						opacity: .32;
						pointer-events: none;
					}

					.file-remove {
						opacity: 0;
					}
				}

				&.loading {
					--vg-button-color: var(--vg-body-color);

					> *:not(.file-remove) {
						opacity: .52;
						pointer-events: none;
					}

					.file-remove {
						opacity: 1;
						pointer-events: none;

						button {
							i {
								animation: spinner 1s linear infinite;
							}
						}
					}
				}

				&.completed {
					--vg-button-color: var(--vg-success);
				}

				&.failing {
					--vg-button-color: var(--vg-danger);

					> * {
						opacity: .62;
					}

					.file-remove {
						opacity: 1;
					}
				}

				&.dragging {
					opacity: 0.6;
					transform: scale(1.02);
					z-index: 1000;
					position: relative;
				}

				&.dragging-transparent {
					pointer-events: none;
					opacity: 0.3;
				}
			}

			&.list-row {
				.file {
					border: none;

					.file-remove {
						position: absolute;
						right: 0;
						top: 4px;
						width: 22px;
						height: 22px;
						display: flex;
						align-items: center;
						justify-content: center;

						button {
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							background: var(--vg-secondary-bg);
							border-radius: 50%;

							i {
								display: flex;
								width: 100%;
								height: 100%;
								align-items: center;
								justify-content: center;

								svg {
									width: 10px;
									height: 10px;

									path {
										fill: var(--vg-body-color);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@keyframes stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 60px 30px;
	}
}

@keyframes flash {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}