&.vg-nav-horizontal {
	.vg-nav-wrapper {
		flex-direction: row;
	}
}

&.vg-nav-vertical {
	.vg-nav-wrapper {
		flex-direction: column;

		[data-vg-placement=top-start], [data-vg-placement=bottom-start] {
			left: 100%;
		}

		[data-vg-placement^=bottom] {
			top: 0;
		}

		[data-vg-placement^=bottom] {
			[data-vg-placement=top-start] {
				bottom: 0;
			}
		}
	}
}