&.vg-nav-horizontal {
	.vg-nav-wrapper {
		flex-direction: row;

		.dropdown {
			> .dropdown-content {
				&.left, .left {
					left: 0;
				}

				&.right, .right {
					right: 0;
				}

				&.top, .top {
					top: 0;
				}

				&.bottom, .bottom {
					bottom: 0;
				}

				.dropdown {
					ul.left {
						left: 100%;
					}

					ul.right {
						right: 100%;
					}

					ul.top {
						top: 100%;
					}

					ul.bottom {
						bottom: 100%;
					}
				}
			}
		}
	}
}

&.vg-nav-vertical {
	.vg-nav-wrapper {
		flex-direction: column;

		.dropdown {
			> ul {
				&.left, .left {
					left: 100%;
				}

				&.right, .right {
					right: 100%;
				}

				&.top, .top {
					top: 100%;
				}

				&.bottom, .bottom {
					bottom: 100%;
				}

				&.fade {
					&.top {
						top: 0;
					}
					&.bottom {
						bottom: 0;
					}
				}
			}

			&.show {
				&.top {
					> ul {
						top: 0;
					}
				}
				&.bottom {
					> ul {
						bottom: 0;
					}
				}
			}
		}

		.dropdown-mega {
			position: relative;

			.dropdown-mega-container {
				left: 100%;
				top: 100%;

				&.fade {
					&.top {
						top: 0;
					}

					&.bottom {
						bottom: 0;
					}
				}
			}
		}
	}
}