@use "../../../utils/scss" as vg;

$collapse-accordion-map: (
		border: vg.$border-width vg.$border-style var(--vg-border-color, #{vg.$border-color}),
		border-radius: vg.$border-radius,
		padding: 1rem
) !default;
