/**
*--------------------------------------------------------------------------
* Модуль: VGCollapse, реализация vg-accordion
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@forward "variables";
@use "../../../utils/scss" as vg;
@use "variables" as vars;


.vg-accordion {
	@include vg.mix-vars('accordion', vars.$collapse-accordion-map);
	position: relative;
	border: var(--vg-accordion-border);
	border-radius: var(--vg-accordion-border-radius);

	&-item {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: var(--vg-accordion-border);

		&:last-child {
			border: none;
		}
	}

	&-button {
		display: block;
		padding: var(--vg-accordion-padding);
	}

	&-content {
		display: block;
		padding: var(--vg-accordion-padding);
	}
}
