@use "mixin" as mix;
@use "variables" as vars;

.vg-backdrop {
	@include mix.mix-vars('backdrop', vars.$backdrop-map);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(--vg-backdrop-bg);
	transition: var(--vg-backdrop-transition);
	opacity: 0;
	z-index: var(--vg-backdrop-z-index);

	&.fade.show {
		opacity: var(--vg-backdrop-opacity);
	}
}
