@import "../../utils/scss/functions";
@import "../../utils/scss/mixin";
@import "../../utils/scss/variables";

.vg-backdrop {
	@include mix-vars('backdrop', $backdrop-map);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(--vg-backdrop-bg);
	transition: var(--vg-backdrop-transition);
	opacity: 0;
	z-index: var(--vg-backdrop-z-index);

	&.fade.show {
		opacity: var(--vg-backdrop-opacity);
	}
}

.vg-btn-close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 15px;
	top: 15px;
	border: none;
	background: transparent;
	border-radius: 50%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 20px;
		height: 20px;
		fill: $color;
	}
}

.vg-collapse {
	&:not(.show) {
		display: none;
	}
}

.vg-collapsing {
	height: 0;
	overflow: hidden;
	transition: $transition-base;
}

/**
* Loader
 */
.vg-loader, .vg.loader:after {
	border-radius: 50%;
	width: 7em;
	height: 7em;
}
.vg-loader {
	@include mix-vars('loader', $loader-map);
	margin: var(--vg-loader-margin);
	font-size: var(--vg-loader-font-size);
	position: relative;
	text-indent: -9999em;
	border-top: var(--vg-loader-border-width) var(--vg-loader-border-style) var(--vg-loader-border-color);
	border-right: var(--vg-loader-border-width) var(--vg-loader-border-style) var(--vg-loader-border-color);
	border-bottom: var(--vg-loader-border-width) var(--vg-loader-border-style) var(--vg-loader-border-color);
	border-left: var(--vg-loader-border-width) var(--vg-loader-border-style) var(--vg-loader-color);
	transform: var(--vg-loader-transform);
	animation: var(--vg-loader-animation);
}

/**
* UI before Animation
 */
.ui-success {
	&-circle {
		stroke-dasharray: 260.75219024795285px, 260.75219024795285px;
		stroke-dashoffset: 270.75219024795285px;
		transform: rotate(0);
		transform-origin: center center;
		stroke-linecap: round;
		animation: ani-success-circle 1s ease-in both;
	}
	&-path {
		stroke-dasharray: 60px 64px;
		stroke-dashoffset: 62px;
		stroke-linecap: round;
		animation: ani-success-path 0.4s 1s ease-in both;
	}
}

.ui-error {
	&-circle {
		stroke-dasharray: 260.75219024795285px, 260.75219024795285px;
		stroke-dashoffset: 260.75219024795285px;
		animation: ani-error-circle 1.2s linear;
	}
	&-line1 {
		stroke-dasharray: 54px 55px;
		stroke-dashoffset: 55px;
		stroke-linecap: round;
		animation: ani-error-line 0.15s 1.2s linear both;
	}
	&-line2 {
		stroke-dasharray: 54px 55px;
		stroke-dashoffset: 55px;
		stroke-linecap: round;
		animation: ani-error-line 0.2s 0.9s linear both;
	}
}

.ui-waiting {
	&-circle {
		stroke-dasharray: 260.75219024795285px, 260.75219024795285px;
		stroke-dashoffset: 260.75219024795285px;
		animation: ani-waiting-circle 1.2s linear;
	}
	&-line1 {
		stroke-dasharray: 280.75219024795285px, 200.75219024795285px;
		stroke-dashoffset: 280.75219024795285px;
		animation: ani-waiting-line 0.8s 0.3s linear both;
		transform: rotate(0);
		transform-origin: center center;
	}
	&-line2 {
		stroke-dasharray: 54px 55px;
		stroke-dashoffset: 55px;
		animation: ani-waiting-line2 0.85s .6s ease-in both;
		transform: rotate(0) scale(0.9);
		transform-origin: center center;
	}
}

/**
* Animation Loader
 */
@keyframes vgLoader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// success animation
@keyframes ani-success-circle {
	to {
		stroke-dashoffset: 782.2565707438586px;
	}
}

@keyframes ani-success-path {
	0% {
		stroke-dashoffset: 62px;
	}
	65% {
		stroke-dashoffset: -5px;
	}
	84% {
		stroke-dashoffset: 4px;
	}
	100% {
		stroke-dashoffset: -2px;
	}
}

// error animation
@keyframes ani-error-line {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes ani-error-circle {
	0% {
		stroke-dasharray: 0, 260.75219024795285px;
		stroke-dashoffset: 0;
	}
	35% {
		stroke-dasharray: 120px, 120px;
		stroke-dashoffset: -120px;
	}
	70% {
		stroke-dasharray: 0, 260.75219024795285px;
		stroke-dashoffset: -260.75219024795285px;
	}
	100% {
		stroke-dasharray: 260.75219024795285px, 0;
		stroke-dashoffset: -260.75219024795285px;
	}
}

// waiting animation
@keyframes ani-waiting-circle {
	to {
		stroke-dashoffset: 782.2565707438586px;
	}
}
@keyframes ani-waiting-line {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes ani-waiting-line2 {
	to {
		stroke-dashoffset: 0;
		transform: rotate(360deg) scale(1);
	}
}