// -- Backgrounds
$bg-color:           #fff !default;

// -- Colors
$color:              #000000 !default;

// -- Shadows
$box-shadow:         0 8px 14px 5px rgba(0, 0, 0, 0.2) !default;

// -- Borders
$border-color:       rgba(0, 0, 0, .2) !default;
$border-radius:      .375rem !default;
$border-width:       1px !default;
$border-style:       solid;

// -- Transitions
$transition-base:    all .5s ease-in-out !default;

// -- Backdrop
$backdrop-bg:        rgba(0, 0, 0, 1) !default;
$backdrop-opacity:   .4 !default;

// Z-indexes
$sidebar-index:    1040;
$dropdown-index:   1010;
$modal-index:      1040;
$backdrop-index:   999;
$lawcookie-index:  2000;
$toast-index:      1050;

// Backdrop map
$backdrop-map: (
		bg:         $backdrop-bg,
		opacity:    $backdrop-opacity,
		z-index:    $backdrop-index,
		transition: $transition-base,
);

$loader-map: (
		border-width: .75em,
		border-style: solid,
		border-color: rgba(0, 0, 0, 0.2),
		color: rgb(33, 37, 41),
		font-size: 10px,
		margin: 30px auto,
		animation: vgLoader 1.1s infinite linear,
		transform: translateZ(0)
);

// Colors Status
$danger:        #dc3545 !default;
$danger-border: tint-color($danger, 60%) !default;
$danger-text:   shade-color($danger, 60%) !default;
$danger-bg:     tint-color($danger, 80%) !default;

$success: #198754;
$success-border: tint-color($success, 60%) !default;
$success-text:   shade-color($success, 60%) !default;
$success-bg:     tint-color($success, 80%) !default;

$warning: #FFC107;
$warning-border: tint-color($warning, 60%) !default;
$warning-text:   shade-color($warning, 60%) !default;
$warning-bg:     tint-color($warning, 80%) !default;

$info: #0DCAF0;
$info-border: tint-color($info, 60%) !default;
$info-text:   shade-color($info, 60%) !default;
$info-bg:     tint-color($info, 80%) !default;

$dark: #232323;
$dark-border: shade-color($dark, 60%) !default;
$dark-text:   tint-color($dark, 60%) !default;
$dark-bg:     shade-color($dark, 80%) !default;

$success-map: (
		color: $success-text,
		border-color: $success-border,
		background-color: $success-bg
);

$danger-map: (
		color: $danger-text,
		border-color: $danger-border,
		background-color: $danger-bg
);

$warning-map: (
		color: $warning-text,
		border-color: $warning-border,
		background-color: $warning-bg
);

$info-map: (
		color: $info-text,
		border-color: $info-border,
		background-color: $info-bg
);

$dark-map: (
		color: $dark-text,
		border-color: $dark-border,
		background-color: $dark-bg
);