/* Hero */
.hero {
	background: url("/assets/images/hero.jpg") repeat;
	width: 100%;
	height: 100vh;
	padding: 12rem 0 3rem;
	display: flex;
	align-items: center;
}

.hero h1 {
	font-weight: bold;
	color: white;
}

.hero h5 {
	font-weight: 400;
	color: white;
}