@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
	--vg-border-color: var(--bs-border-color);
	--vg-border-radius: var(--bs-border-radius);
	--vg-body-bg: var(--bs-body-bg);
	--vg-emphasis-color-rgb: var(--bs-emphasis-color-rgb);
}

/**
* Base
**/
a {
	text-decoration: none;
}

.bordered {
	border: 1px solid var(--vg-border-color);
	border-radius: var(--vg-border-radius);
}

/* List */
.list {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
}

.list .list-item {
	list-style: none;
	margin-right: 1rem;
}

.list .list-item:last-child {
	margin-right: 0;
}

/**
* Header
**/
.header {
	position: relative;
}

.header .header-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 800;
}

.header .header-wrapper .header-top {
	position: relative;
	background: var(--vg-body-bg);
	min-height: 36px;
	display: flex;
	align-items: center;
}

.header .header-wrapper .header-bottom {
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(var(--vg-emphasis-color-rgb), .1);
}

.header .header-wrapper .header-bottom .logo-area img {
	height: 36px;
}
.header .header-wrapper .header-bottom .vg-nav-wrapper {
	justify-content: flex-end;
}