@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

[data-bs-theme="dark"] .vg-sidebar {
	--vg-sidebar-bg-color: var(--bs-secondary-bg);
	--vg-sidebar-color: var(--bs-body-color);
	--vg-sidebar-border: 1px solid var(--bs-border-color);
}

[data-bs-theme="dark"] .vg-sidebar-backdrop {
	--vg-sidebar-backdrop-opacity: 0.15;
}

[data-bs-theme="dark"] .vg-dropdown {
	--vg-dropdown-bg-color: var(--bs-secondary-bg);
	--vg-dropdown-color: var(--bs-body-color);
	--vg-dropdown-border: 1px solid var(--bs-border-color);
}

[data-bs-theme="dark"] .vg-nav {
	--vg-nav-item-color: var(--bs-body-color);
	--vg-nav-hamburger-line-color: var(--bs-body-color);
	--vg-nav-drop-mega-border-color: var(--bs-border-color);
	--vg-nav-drop-mega-bg: var(--bs-secondary-bg);
	--vg-nav-drop-mega-color: var(--bs-body-color);
	--vg-nav-drop-border-color: var(--bs-border-color);
	--vg-nav-drop-bg: var(--bs-secondary-bg);
	--vg-nav-drop-color: var(--bs-body-color);
	--vg-nav-drop-item-border-color: var(--bs-border-color);
	--vg-nav-drop-item-border-color-hover: var(--bs-border-color);
}

[data-bs-theme="dark"] .vg-btn-close svg polygon {
	fill: var(--bs-body-color);
}

a {
	text-decoration: none;
}

/* Header */
.header {
	position: relative;
}

.header .header-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2000;
}

.header .header-wrapper .header-top {
	position: relative;
	background: var(--bs-body-bg);
	min-height: 36px;
	display: flex;
	align-items: center;
}

.header .header-wrapper .header-bottom {
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(var(--bs-emphasis-color-rgb), .1);
}

.header .header-wrapper .header-bottom .logo-area img {
	height: 36px;
}
.header .header-wrapper .header-bottom .vg-nav-wrapper {
	justify-content: flex-end;
}

[data-bs-theme="dark"] .logo-area .light {
	display: none;
}

[data-bs-theme="light"] .logo-area .dark {
	display: none;
}

/* Hero */
.hero {
	background: url("/assets/images/hero.jpg") repeat;
	width: 100%;
	height: 100vh;
	padding: 12rem 0 3rem;
	display: flex;
	align-items: center;
}

.hero h1 {
	font-weight: bold;
	color: white;
}

.hero h5 {
	font-weight: 400;
	color: white;
}

/* List */
.list {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
}

.list .list-item {
	list-style: none;
	margin-right: 1rem;
}

.list .list-item:last-child {
	margin-right: 0;
}

/* Theme */
.theme-area .list a svg path {
	fill: rgba(var(--bs-body-color-rgb), 0.3);
	transition: all 0.2s ease-in-out;
}
.theme-area .list a.active svg path {
	fill: var(--bs-body-color);
}

/* Page */
.page .main {
	padding-top: 150px;
}

/* VGNav */
.menu-sidebar {
	--vg-nav-item-padding: 1rem;
	--vg-nav-item-border: 1px solid var(--bs-border-color, rgba(255, 255, 255, .15));
	--vg-nav-item-display: block;
	--vg-nav-drop-item-padding: 1rem;
}

/* VGSidebar */
#sidebar-nav {
	--vg-sidebar-vertical-height: 100vh;
}