/**
*--------------------------------------------------------------------------
* Модуль: VGDropdown
* Автор: Vegas DEV
* Лицензия: смотри LICENSE.md
*--------------------------------------------------------------------------
**/

@import "../../../_utils/scss/functions";
@import "../../../_utils/scss/mixin";
@import "../../../_utils/scss/variables";
@import "variables";

.vg-dropdown {
	position: relative;

	&-content {
		@include mix-vars('dropdown', $dropdown-map);
		background-color: var(--vg-dropdown-bg-color);
		color: var(--vg-dropdown-color);
		z-index: var(--vg-dropdown-z-index);
		border: var(--vg-dropdown-border);
		min-width: var(--vg-dropdown-min-width);
		position: absolute;
		opacity: 0;
		transform: translateY(20%);
		transition: var(--vg-dropdonw-transition);

		&:not(.show) {
			display: none;
		}

		&.fade {
			opacity: 1;
			transform: translateY(0);
		}
	}
}