/**
*--------------------------------------------------------------------------
* Модуль: VGDropdown
* Автор: Vegas DEV
* Лицензия: смотри LICENSE.md
*--------------------------------------------------------------------------
**/

@import "../../../_utils/scss/functions";
@import "../../../_utils/scss/mixin";
@import "../../../_utils/scss/variables";
@import "variables";

:root {
	//@include mix-vars('sidebar', $sidebar-map);
}

.vg-dropdown {
	position: relative;

	&-content {
		position: absolute;
		min-width: 300px;
		transition: var(--vg-dropdonw-transition, all .3s ease-in-out);
		opacity: 1;

		&:not(.show) {
			display: none;
		}

		&.fade {
			opacity: 1;
		}

		&.bottom {
			bottom: 0;
		}
	}
}