/**
*--------------------------------------------------------------------------
* Модуль: VGToast
* Автор: Vegas DEV
* Лицензия: смотри LICENSE
*--------------------------------------------------------------------------
**/

@import "../../../utils/scss/functions";
@import "../../../utils/scss/mixin";
@import "../../../utils/scss/variables";
@import "variables";

.vg-toast {
	@include mix-vars('toast', $toast-map);
	position: fixed;
	width: var(--vg-toast-width);
	height: var(--vg-toast-height);
	z-index: var(--vg-toast-z-index);
	padding: var(--vg-toast-indent);
	transition: var(--vg-toast-transition);

	&:not(.show) {
		display: none;
	}
}